<div class="col p-4 flex-column d-flex justify-content-around">
  <h1 id="ecom">ECOM</h1>
  <p>Application de gestion des produits, de panier et passer les commandes
    <br>
    Réalisée avec Spring boot et Angular</p>
  <h2 id="demo">Demo</h2>
  <h3>Interface de l'application</h3>
  <p>
    <img width="80%" src="assets/1.png" alt="Alt text" title="Title"></p>
  <h3 id="ajouter-un-produit">Ajouter un produit</h3>
  <p><img width="80%" src="assets/2.png" alt="Alt text" title="Title">
    <img width="80%" src="assets/3.png" alt="Alt text" title="Title"></p>
  <h3 id="modifier-produit">Modifier produit</h3>
  <p><img width="80%" src="assets/5.png" alt="Alt text" title="Title">
    <img width="80%" src="assets/6.png" alt="Alt text" title="Title">
    <img width="80%" src="assets/7.png" alt="Alt text" title="Title"></p>
  <h3 id="chercher-un-produit">Chercher un produit</h3>
  <p><img width="80%" src="assets/8.png" alt="Alt text" title="Title"></p>
  <h3 id="ajouter-au-panier">Ajouter au panier</h3>
  <p><img width="80%" src="assets/9.png" alt="Alt text" title="Title"></p>
  <h3 id="completer-la-commande">Completer la commande</h3>
  <p><img width="80%" src="assets/10.png" alt="Alt text" title="Title"></p>
  <h3 id="liste-des-commandes">Liste des commandes</h3>
  <p><img width="80%" src="assets/11.png" alt="Alt text" title="Title"></p>
  <h3 id="modifier-la-commande">Modifier la commande</h3>
  <p><img width="80%" src="assets/12.png" alt="Alt text" title="Title"></p>
  <h2 id="authors">Authors</h2>
  <ul>
    <li><a href="https://github.com/hamzahr477">@HayarHamza</a></li>
  </ul>

</div>
